.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-top: 80px;
  flex-direction: column;
  background-color: #f2f4fa;
}
 
.home-navbar-interactive {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: #f2f4fa;
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-link10 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link11 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link12 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link13 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link14 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text10 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-text11 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link15 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link16 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link17 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-container11 {
  flex: 0 0 auto;
  width: 80%;
  height: 200px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container12 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image1 {
  width: 200px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
}
 
.home-container13 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text12 {
  font-size: 32px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
  padding-top: 0px;
}
 
.home-text13 {
  font-size: 20px;
  text-align: center;
  font-family: "AvenirLTPro-Book";
  padding-top: 10px;
}
 
.home-container14 {
  width: 80%;
  height: auto;
  display: flex;
  z-index: 1;
  margin-top: 20px;
  flex-direction: column;
}
 
.home-image2 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 
.home-container15 {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: -120px;
  align-items: center;
  margin-left: 5%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.home-text18 {
  font-size: 18px;
  text-align: center;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
 
.home-container16 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: inset;
  border-width: 2px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  margin-top: -50px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f4fa;
}
 
.home-text24 {
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 24px;
  align-items: center;
  font-family: "AvenirLTPro-Black";
  justify-content: center;
}
 
.home-container19 {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.home-link18 {
  display: contents;
}
 
.home-container20 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  margin-right: 3%;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
 
.home-image3 {
  width: 100%;
  object-fit: cover;
}
 
.home-text25 {
  font-size: 24px;
  font-style: normal;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
  font-weight: 700;
}
 
.home-text26 {
  font-size: 18px;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
}
 
.home-link19 {
  display: contents;
}
 
.home-container21 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
 
.home-image4 {
  width: 100%;
  object-fit: cover;
}
 
.home-text27 {
  font-size: 24px;
  font-style: normal;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
  font-weight: 700;
}
 
.home-text28 {
  font-size: 18px;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
}
 
.home-link20 {
  display: contents;
}
 
.home-container22 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 3%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
 
.home-image5 {
  width: 100%;
  object-fit: cover;
}
 
.home-text29 {
  font-size: 24px;
  font-style: normal;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
  font-weight: 700;
}
 
.home-text30 {
  font-size: 18px;
  margin-top: 10px;
  font-family: "AvenirLTPro-Book";
}
 
.home-container23 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: inset;
  border-width: 2px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-container25 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  margin-top: -50px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f4fa;
}
 
.home-text31 {
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 24px;
  align-items: center;
  font-family: "AvenirLTPro-Black";
  justify-content: center;
}
 
.home-container26 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-container27 {
  width: 100%;
  height: 490px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.home-container28 {
  display: contents;
}
 
.home-link21 {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: "AvenirLTPro-Book";
  text-decoration: underline;
}
 
.home-container29 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: inset;
  border-width: 2px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  margin-top: -50px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f4fa;
}
 
.home-text32 {
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 24px;
  align-items: center;
  font-family: "AvenirLTPro-Black";
  justify-content: center;
}
 
.home-container32 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}
 
.home-text33 {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  padding-left: 10px;
  padding-right: 10px;
}
 
.home-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-start;
}
 
.home-container34 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}
 
.home-link22 {
  display: contents;
}
 
.home-image6 {
  width: 50px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-container35 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
}
 
.home-link23 {
  display: contents;
}
 
.home-image7 {
  width: 50px;
  object-fit: cover;
  text-decoration: none;
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text10 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-link15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-link16 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-link17 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .home-container10 {
    padding-top: 60px;
  }
  .home-navbar-interactive {
    height: 50px;
    padding: var(--dl-layout-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container11 {
    width: 90%;
    height: 100px;
    margin-top: 0px;
  }
  .home-image1 {
    width: 100px;
  }
  .home-container13 {
    width: 66%;
  }
  .home-text12 {
    font-size: 24px;
    font-style: normal;
    font-family: AvenirLTPro-Black;
    font-weight: 500;
  }
  .home-text13 {
    font-family: AvenirLTPro-Book;
  }
  .home-text14 {
    font-size: 16px;
  }
  .home-text15 {
    font-size: 16px;
  }
  .home-text16 {
    font-size: 16px;
  }
  .home-container14 {
    width: 90%;
    margin-top: 5px;
  }
  .home-container15 {
    padding: 5px;
    margin-top: -80px;
  }
  .home-text18 {
    font-family: AvenirLTPro-Book;
    padding-left: 0%;
    padding-right: 0%;
  }
  .home-text19 {
    font-size: 14px;
  }
  .home-text20 {
    font-size: 14px;
  }
  .home-text21 {
    font-size: 14px;
  }
  .home-text22 {
    font-size: 14px;
  }
  .home-container16 {
    width: 90%;
    height: 50px;
  }
  .home-container17 {
    height: 25px;
  }
  .home-container18 {
    height: 50px;
    margin-top: -25px;
  }
  .home-text24 {
    font-size: 18px;
    font-family: AvenirLTPro-Black;
  }
  .home-container19 {
    width: 90%;
  }
  .home-container20 {
    width: 32%;
    height: auto;
    padding: 5px;
    margin-right: 1%;
  }
  .home-text25 {
    font-size: 16px;
    font-style: normal;
    font-family: AvenirLTPro-Book;
    font-weight: 700;
  }
  .home-text26 {
    font-size: 14px;
    font-family: AvenirLTPro-Book;
  }
  .home-container21 {
    width: 32%;
    height: auto;
    padding: 5px;
  }
  .home-text27 {
    font-size: 16px;
    font-style: normal;
    font-family: AvenirLTPro-Book;
    font-weight: 700;
  }
  .home-text28 {
    font-size: 14px;
    font-family: AvenirLTPro-Book;
  }
  .home-container22 {
    width: 32%;
    padding: 5px;
    margin-left: 1%;
  }
  .home-text29 {
    font-size: 16px;
    font-style: normal;
    font-family: AvenirLTPro-Book;
    font-weight: 700;
  }
  .home-text30 {
    font-size: 14px;
    font-family: AvenirLTPro-Book;
  }
  .home-container23 {
    width: 90%;
    height: 50px;
  }
  .home-container24 {
    height: 25px;
  }
  .home-container25 {
    height: 50px;
    margin-top: -25px;
  }
  .home-text31 {
    font-size: 18px;
    font-family: AvenirLTPro-Black;
  }
  .home-container26 {
    width: 90%;
    height: auto;
  }
  .home-container27 {
    height: 100%;
  }
  .home-link21 {
    font-size: 14px;
    font-family: AvenirLTPro-Book;
    text-decoration: underline;
  }
  .home-container29 {
    width: 90%;
    height: 50px;
  }
  .home-container30 {
    height: 25px;
  }
  .home-container31 {
    height: 50px;
    margin-top: -25px;
  }
  .home-text32 {
    font-size: 18px;
    font-family: AvenirLTPro-Black;
  }
  .home-container32 {
    width: 90%;
  }
  .home-text33 {
    font-size: 14px;
    font-family: AvenirLTPro-Book;
  }
  .home-container34 {
    width: 30px;
    height: 30px;
  }
  .home-image6 {
    width: 30px;
  }
  .home-container35 {
    width: 30px;
    height: 30px;
  }
  .home-image7 {
    width: 30px;
  }
}
