.research-biomass-container10 {
  width: 100%;
  display: flex;
  font-size: 18px;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f2f4fa;
}
 
.research-biomass-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: fixed;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;
  background-color: #f2f4fa;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
 
.research-biomass-container12 {
  flex: 0 0 auto;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: center;
}
 
.research-biomass-link10 {
  display: contents;
}
 
.research-biomass-image10 {
  width: 30px;
  object-fit: cover;
  text-decoration: none;
}
 
.research-biomass-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 100px;
  justify-content: center;
}
 
.research-biomass-text100 {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-container14 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  margin-top: 90px;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.research-biomass-text101 {
  width: 100%;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
 
.research-biomass-text102 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-link11 {
  text-decoration: underline;
}
 
.research-biomass-text112 {
  font-family: "AvenirLTPro-Black";
  line-height: 2;
}
 
.research-biomass-link12 {
  text-decoration: underline;
}
 
.research-biomass-link13 {
  text-decoration: underline;
}
 
.research-biomass-link14 {
  text-decoration: underline;
}
 
.research-biomass-link15 {
  text-decoration: underline;
}
 
.research-biomass-link16 {
  text-decoration: underline;
}
 
.research-biomass-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image11 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text124 {
  color: rgb(76, 76, 76);
  width: 80%;
  font-size: 18px;
  align-self: center;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-text127 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-text128 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-link17 {
  text-decoration: underline;
}
 
.research-biomass-text144 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-container16 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image12 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text149 {
  color: rgb(76, 76, 76);
  width: 80%;
  font-size: 18px;
  align-self: center;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-thq-text-elm {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-text153 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-link18 {
  text-decoration: underline;
}
 
.research-biomass-container17 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image13 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text162 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text163 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-container18 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.research-biomass-container19 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image14 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-container20 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image15 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-text165 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text166 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-container21 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.research-biomass-container22 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image16 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image17 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-text168 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text169 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-container24 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.research-biomass-container25 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image18 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-container26 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image19 {
  width: 400px;
  object-fit: cover;
}
 
.research-biomass-text171 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text172 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-text174 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-container27 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-video {
  width: 600px;
  height: auto;
}
 
.research-biomass-text178 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-text180 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-text187 {
  font-family: "AvenirLTPro-Black";
}
 
.research-biomass-container28 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image20 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text192 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text193 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-text195 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-text196 {
  font-family: "AvenirLTPro-Black";
}
 
.research-biomass-container29 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image21 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text207 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text208 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-text210 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-link19 {
  text-decoration: underline;
}
 
.research-biomass-container30 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.research-biomass-image22 {
  width: 800px;
  object-fit: cover;
}
 
.research-biomass-text213 {
  color: #4c4c4c;
  width: 80%;
  align-self: center;
}
 
.research-biomass-text214 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
}
 
.research-biomass-text216 {
  font-size: 18px;
  font-family: "AvenirLTPro-Book";
  line-height: 1.5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
 
.research-biomass-text220 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-text227 {
  font-size: 24px;
  font-style: normal;
  font-family: "AvenirLTPro-Black";
  font-weight: 500;
}
 
.research-biomass-link20 {
  text-decoration: underline;
}
